@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; */
*{
    font-family: 'Poppins', sans-serif;
}

/* ==================
fonts
================== */
h1{
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.93rem;
    letter-spacing: -0.045em;

}

.info h4{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.68em;
    text-transform: uppercase;
}
.info p{
    margin-top: 0.625em;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.3rem;
}

/* ==================
layouts
================== */

header{
    margin-top: 4.375em;
    margin-bottom: 3em;
    width: 100%;
}
.header-flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.container-flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.container-flex>*{
    flex: 150px;
}
.info{
    margin-top: 2.375em;
    max-width: 330px
}
.person{
    width: 250px;
    margin: 10px;
    position: relative;
}
.work{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    top: 0;
    right: 0px;

}

img{

    max-height: 450px;
    min-height: 220px;
    width: 90%;
    object-fit: cover;
}
.person:nth-child(even){
    margin-top: 50px;
}

@media (min-width:560px){
    header{
        margin-top: 110px;
        margin-bottom: 90px;
    }
    .header-flex{
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        align-items: baseline;
    }

    .info{
        margin-top: 2.375em;
        max-width: 440px
    }
    .info h4{
        font-weight: 600;
        font-size: 1.3rem;


    }
    .info p{
        margin-top: 0.625em;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.59rem;

    }
    .container{
        max-width: 980px;
        margin-bottom: 50px;
    }
    .container-flex>*{
        flex:25%
    }
.person:nth-child(even){
    margin: 20px;
}
    .person:nth-child(2),.person:nth-child(5){
        margin-top: 110px;
    }
}
